%tr{ id: song_request.id, class: 'song_request_row' }
  %td.artist
    = song_request.song.artist
  %td.title
    = song_request.song.title
  %td.length
    = song_request.song.length
  %td.requester
    = song_request.user.name