%h1 
  This is a page of 
  = @user.name
  It will contain stats of this user
  
  - if current_user && @user == current_user
    %p 
      Your config:
      = form_for @user.config do |f|
        = f.label :region, "Region", title: "two letter ISO 3166-1 alpha-2 country code"
        = f.select :region, IsoCountryCodes::Code.all.map(&:alpha2)

        = f.label :length_min, "Minimum song length"
        = f.number_field :length_min
        
        = f.label :length_max, "Maximum song length"
        = f.number_field :length_max

        = f.submit "Update"
    = form_tag create_queue_path, method: :post, id: 'going_live_button' do
      = button_tag type: 'submit', class: 'btn', data: { disable_with: "Opening..." } do
        Open new queue
  User has following queues: 
  - @user.song_queues.each do |q|
    = link_to song_queue_path(song_queue_id: q.id) do
      = q.created_at
    = q.finished_at
