- if @song_queue
  This is song_queue#show
  - if current_user 
    = form_with url: song_requests_path do |f|
      = f.text_field :request, placeholder: "Request a song...", required: true
      = f.hidden_field :song_queue, value: @song_queue.id
      .input-group-append
        = f.submit "Request", class: 'btn'
  this queue with id
  = @song_queue.id
  has 
  = @song_queue.song_requests.count
  requests:
  %table
    = render @song_queue.song_requests
- else
  Shit's not real yo