%nav.header
  %span Jarvis
  - if current_user
    = link_to user_path(current_user.id), title: 'Go to your profile', class: "btn btn-sm", id: "current_user" do
      = current_user.name
    = link_to destroy_user_session_path, title: 'Logout', class: 'btn btn-sm' do
      Logout
  - else
    = link_to user_twitch_omniauth_authorize_path, class: "btn btn-sm", id: "current_user" do
      Sign in with Twitch